@media(max-width: 1030px){
    /* Home */
    .home .home-banner-1,
    .home .home-banner-2,
    .home .home-banner-3{
        background-position: 65% center;
        min-height: 330px;
    }
    .home .home-banner .home-banner-text{
        transform: translate(-80%, -50%);
    }
    /* Offer */
    .offers .offer-box .offer-info .heading-bigger {
        font-size: 3rem;
    }
}

@media(max-width: 991px){
    /* Home */
    .home .home-banner .home-banner-text{
        transform: translate(-66%, -50%);
    }
}
    

@media(max-width: 767px){
    /* Products */
    .products .up_to_content h2 {
        font-size: 0.68rem;
    }
    .product-list .product-image img {        
        max-width: 200px;
    }   
}

@media(max-width: 330px){
    /* Home */
    .home .home-banner .home-banner-text h2{
        font-size: 1rem;
    }
    /* Product */
    .products .up_to_content h2 {
        font-size: 0.625rem;
    }
}